
/**************************************************
CSS: for overall layout appearance: font appearance.
navbar color adjustments /font change to "work sans". 
****************************************************/



.uk-navbar-container.uk-navbar {
  
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 25px !important;
    color: white;
    background: black;

}



body {

    font-family: 'Work Sans', sans-serif !important;
   
}



#drinkInstructionsLabel, #drinkIngredientsLabel, #recipeIngredientsLabel, #recipeLinkLabel {

    color:white;
    font-weight: bold;
}



/* button adjustment that haven't worked, revisit at a later time */

/* .uk-button.uk-button-secondary.uk-button-small :hover,
.uk-button.uk-button-secondary.uk-button-small :focus {
    background-color: red !important;
    color: white !important;
 } */